.header {
  width: 100%;
  background-color: white;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 1128px;
  }

  &__logo {
    width: 220px;
  }

  @include respond(phone) {
    padding: 1rem 2rem;
    align-items: center;
  }

  &__cart {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
    align-items: center;
    margin-bottom: 8px;

    &__icon {
      position: relative;
    }

    &__badge {
      position: absolute;
      top: -3px;
      right: -5px;
      width: 13px;
      height: 13px;
      background-color: $black;
      font-size: 9px;
      border-radius: 50%;
      text-align: center;
      color: white;
    }

    &__info {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: bold;
    }

    &__amount {
      color: $disbledButtonColor;
      font-size: 13px;
      font-weight: 300;
    }
  }
}