.product-card {
  display: block;
  padding: 20px 15px;

  &__header {
    position: relative;
    background-color: white;
    padding: 30px 15px 8px 15px
  }

  &__image {
    display: block;
    margin: 0 auto;
    height: 240px;
    margin-bottom: 20px;
  }

  &__rating, .rating {
    display: inline;
  }

  &__reduction {
    background-color: $black;
    color: white;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 10px;
    float: right;
  }

  &__content {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    font-size: 15px;
    font-weight: 500;
  }
}