.home {
  margin-top: 10px;
  position: relative;
  max-width: 1228px;
  margin: 0 auto;
  
  &__header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    font-size: 22px;
  }

  &__content {
    margin-top: 2rem;
  }

  .alice-carousel__prev-btn {
    text-align: inherit;
    position: absolute;
    top: calc(50% - 35px);
    left: -50px;
    width: inherit;
    
    @include respond(tab-land) {
      position: initial;
      width: 50%;
      text-align: right;
    }
  }

  .alice-carousel__next-btn {
    text-align: initial !important;
    position: absolute;
    top: calc(50% - 35px);
    right: -50px;
    width: initial;
    @include respond(tab-land) {
      position: initial;
      width: 50%;
      display: inline-block;
    }
  }
}